﻿@page "/"
@implements IDisposable

<h1>@Titulo!</h1>

<h2>Fui renderizado às: @HoraRenderizado</h2>



@code {
    private string Titulo { get; set; }
    private string HoraRenderizado { get; set; }



    protected override void OnInitialized()
    {
        HoraRenderizado = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Inicializaçao do componente : às : { HoraRenderizado}");
        Titulo = "Olá Blazor...";
    }


    protected override void OnParametersSet()
    {
        HoraRenderizado = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Executei OnParaetersSet às : { HoraRenderizado}");
        Console.WriteLine($"-- > Recebendo os parametros fo componente Pai.");
    }


    protected override void OnAfterRender(bool firstRender)
    {
       HoraRenderizado = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Executei OnAfterRender às : { HoraRenderizado}");
    }

    public void Dispose()
    {
        HoraRenderizado = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Liberação do componente : { HoraRenderizado}");
    }

}
