﻿<div class="alert alert-danger mt-4" role="alert">
    <span class="oi oi-circle-x mr-2" aria-hidden="true"></span>
    <strong>@Message</strong>
</div>

<div>
     @Conteudo1
    @if (@ChildContent == null)
    {
        <span style="color:darkblue">texto padrao</span>
       
         @Conteudo2
    }
    else
    {
        @ChildContent
        @Conteudo2
    }

</div>

@code {

    [Parameter] public string Message { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment Conteudo1 { get; set; }
    [Parameter] public RenderFragment Conteudo2 { get; set; }
}
