﻿@typeparam TItem


@if (ListaItem == null)
{
    if(@Carregando == null)
    {
        <text>Carregando</text>
    }
    else
    {
        @Carregando
    }
}
else if (!ListaItem.Any())
{
    if(SemRegistro == null)
    {
        <text>Não existe tarefas </text>
    }
    else
    {
        @SemRegistro
    }
}
else
{
    foreach (var elemento in ListaItem)
    {
        @Lista(elemento)
    }
}

@code {
    [Parameter] public RenderFragment Carregando { get; set; }
    [Parameter] public RenderFragment SemRegistro { get; set; }
    [Parameter] public List<TItem> ListaItem { get; set; }
    [Parameter] public RenderFragment<TItem> Lista { get; set; }
}
