﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorAppCore5</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Tarefa
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/databinding" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> DataBinding
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/eventos" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Eventos
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
