﻿<tr>
<td>@item.Id</td>
<td>@item.Description</td>
<td> <input type="checkbox" @bind="item.Status"> @item.Status</td>
<td>@item.CompletedAt</td>
<td><button class="btn btn-danger" @onclick="@(() => RemoveTarefa.InvokeAsync(item))"><i class="oi oi-trash"></i></button>  </td>
</tr>

@code {
    [Parameter] public Models.Tarefa item { get; set; }


    //passagem de parametro
    [Parameter] public EventCallback<Models.Tarefa> RemoveTarefa { get; set; }
}
