﻿
<h1>@Titulo</h1>

<div class="form-group">
    <label>Add Tasks</label>
    <input type="text" placeholder="Informe a Task" @bind=newTask />
    <button class="btn btn-primary " @onclick="AddTask"> Add Task</button>
</div>


 
    <table class="table table-bordered table-striped">
        <thead>
        <td>Id</td>
        <td>
            Description
        </td>
        <td>
            Status
        </td>
        <td>
            CompletedAt
        </td>
        <td>
            Remover
        </td>
        </thead>
        <tbody>          
            <ListaGenerica  ListaItem="tasks">
                <Lista>
                    <TarefaIndividual item="context" RemoveTarefa="RemoveTask"></TarefaIndividual>
                </Lista>
            </ListaGenerica>
        </tbody>
    </table>


@code {

    [Parameter] public List<Models.Tarefa> tasks { get; set; }
    [Parameter] public string Titulo { get; set; }
    private string newTask = "";


    private void RemoveTask(Models.Tarefa tarefa) =>
       tasks.Remove(tasks.FirstOrDefault(x => x.Id == tarefa.Id));

    private void AddTask()
    {
        if (!string.IsNullOrEmpty(newTask))
            tasks.Add(new Models.Tarefa
                {
                    CompletedAt = DateTime.Now,
                    Description = newTask,
                    Id = tasks.Count() + 1
                });
        newTask = "";
    }


}