﻿@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += 1;
        if (currentCount > 2)
            throw new InvalidOperationException("ixi deu ruim....");        
    }



}
