﻿@page "/"
@implements IDisposable
<PageTitle>Principal</PageTitle>

<h1>@Title</h1>
<h2>Fui Renderizado as : @DtRender</h2>



@code {
    private string Title { get; set; }
    private string DtRender { get; set; }

    protected override void OnInitialized()
    {
        DtRender = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Inicialização do Componente : às {DtRender} ...");
        Title = "Olá Blazor ... ";
    }

    protected override void OnParametersSet()
    {
        DtRender = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Executei OnParameterSet : às {DtRender}");
        Console.WriteLine($"==>> Recebimento dos parametros do componente pai");

    }


    protected override void OnAfterRender(bool firstRender)
    {
        DtRender = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Executei OnAfterRender : Primeira vez => {firstRender}");
        Console.WriteLine($" -->  Término da renderização do componente :  às {DtRender}");
    }


    public void Dispose()
    {
        DtRender = DateTime.UtcNow.ToLongTimeString();
        Console.WriteLine($"Liberação do componente às : {DtRender}");
        

    }
}