﻿@page "/Samples"

@using BlazorAppSamples.Models;


<PageTitle>Samples</PageTitle>
<h3>Samples</h3>


<h1>20 + 10 = @(20+10)</h1>

<button class="btn btn-danger" value="Clique...">Clique...</button>

<br />

On Change: <input type="text" placeholder="enter value..." @bind="Mensagem" />
<br>

On Input: <input type="text" @bind-value=@Mensagem @bind-value:event="oninput" />
<p>Mensagem: @Mensagem</p>

@if (string.IsNullOrEmpty(Item))
{
   <p>sem item!</p>
}
else
{ <p>Item: @Item</p>
    
}

<br />
<div>
    <h2>Pizza : @Pizza.Title</h2>
    <h2>Feito : @Pizza.CreateAt.ToString("dd MM yyyy")</h2>
</div>

@code {
    public Product Pizza { get { return GetProduct(); } }

    public string Item = "com item";
    private string Mensagem { get; set; } = "Inicial";


    private void Alterar()
    {
        Mensagem = "xxxx";
    }

    private Product GetProduct()
    {
        return new Product
            {
                Title = "Mussarela",
                CreateAt = new DateTime(2022, 4, 11)
            };
    }



    

}




