﻿@page "/databinding"


<h1>@nome</h1>

<hr />

<input type="text" @bind=@nome />

<hr />

<input type="text" @bind-value="nome" @bind-value:event="oninput" />

@code {
    [Parameter] public string nome { get; set; } = "Data Binding enter...";

}
