﻿@page "/eventos"

<h3>Eventos</h3>


<label>Dados de eventos : Pressione a tecla A para mudar a cor</label>


<div style="background-color: @Cor; padding: 50px;" ></div>


<input  type="text" @onkeypress="@(e=> TeclaPressionada(e))" />


@code {
    public string Cor = "red";

    public void TeclaPressionada(KeyboardEventArgs args)
    {
        if(args.Key == "A" || args.Key == "a")
        {
            Cor = "blue";
            Console.WriteLine("Tecla pressionada");
        }
        else
        {
            Cor = "black";
        }
    }

}
