﻿@page "/"
@inject HttpClient http

<h1>Tasks!</h1>
Welcome to your new Task app .

<Tarefa tasks="@GetTaferas()" Titulo = "Lista de  Tarefas" />

@code {
    private List<Models.Tarefa> tasks = new();


    protected override async Task OnInitializedAsync()
    {
        var result = await http.GetStringAsync("http://localhost:5000/Data/tasks.json");

        tasks.Add(new Models.Tarefa { Id = 1, Description = "testes", Status = false });
        tasks.Add(new Models.Tarefa { Id = 2, Description = "teste2", Status = true });
        tasks.Add(new Models.Tarefa { Id = 3, Description = "teste3", Status = true, CompletedAt = DateTime.Now });
    }


    private List<Models.Tarefa> GetTaferas() => tasks;


}